*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,select{
  width: 80%;
  border-radius: 20px;
  text-align: center;
  border: none; 
}
input,select,option{
  color: #333333;
}
section{
  color: #ffffff;
}
h2{
  text-align: center;
}
#brk{
  display: none;
}
.break{
  display: none;
}
img{
  border: none;
}