@media (max-width: 1272px){
    .main-nav-list{
        margin-left: 15rem;
    }
    body{
        width: 100%;
    }
}
@media (max-width: 1125px){
    .main-nav-list{
        margin-left: 10rem;
    }
    body{
        width: 100%;
    }
}
@media (max-width: 1093px){
    #btn-try{
        margin-bottom: 1rem;
    }
    .advantages-box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 1080px){
    .main-nav-list{
        margin-left: 5rem;
    }
    body{
        width: 100%;
    }
}