@media (max-width: 1272px){
  .main-nav-list{
    margin-left: 15rem;
  }

  body{
    width: 100%;
  }
}
@media (max-width: 1262px){
  ul.details-list{
    font-size: 0.8rem;
  }
  .details-para{
    font-size: 0.8rem;
  }
}

@media (max-width: 1220px){
  .testimonials {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1125px){
  .main-nav-list{
    margin-left: 10rem;
  }

  body{
    width: 100%;
  }
}

@media (max-width: 1110px){
  .advantages-box{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(1,1fr);
  }
}


@media (max-width: 1100px){
  .try-box-text{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #div_try_box{
    margin-left: 0rem;
    margin-top: 1rem;
  }

  .try-box {
    padding-left: 0rem;
  }
}

@media (max-width: 1095px){
  #btn-try{
    margin-bottom: 1rem;
  }
}

@media (max-width: 1080px){
  .main-nav-list{
    margin-left: 5rem;
  }

  body{
    width: 100%;
  }
}
@media (max-width: 1006px) {
  ul.details-list{
    font-size: 0.6rem;
  }
  .details-para{
    font-size: 0.75rem;
  }
}

@media (max-width: 985px){
  .output-box{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(1,1fr);
  }

  iframe{
    margin-left: 0rem;
  }
  

  #show-map{
    margin-bottom: 1rem;
  }

  .output-box-text{
    justify-items: center;
    align-items: center;
    display: grid;
  }

  .output-box-text-weather-details{
    margin-top: 1rem;
  }
}

@media (max-width : 972px){
  .details-title{
    font-size: 1.6rem;
  }
  .details-header{
    font-size: 0.7rem;
  }
}

@media(min-width: 955px){
  .btn-mobile-nav {
    display: none;
  }
}

@media (max-width: 955px){
  /* MOBILE NAVIGATION */

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: #0dc6ff;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */
    /* 1) Hide it visually */
    opacity: 0;
    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav  {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .btn-mobile-nav{
    float: right;
    width: 10px;
    height: 10px;
    margin-bottom: 2rem;
    background: none;
    border: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 2.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2rem;
  }

  .home-content-box{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1,1fr);
  }

  .home-text-content-box{
    padding-left: 0%;
  }

  #btn-try{
    margin-bottom: 0rem;
  }

  .section-home{
    text-align: center;
  }
}

@media (max-width: 969px){
  .output-box-text-details{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px 10rem;
    margin-bottom: 0;
  }
}

@media (max-width: 954px){
  .output-box-text-details{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 5px 10rem;
    margin-bottom: 0;
  }

  .output-box{
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
  }
}

@media (max-width : 620px){
  .home-img{
    width: 250px;
    height: 175px;
  }
}

@media (max-width: 597px) {
  #submit{
    float: none;
    text-align: center;
  }

  .details-title{
    font-size: 1.2rem;
  }

  .break,#brk{
    display: block;
  }
}

@media (max-width: 579px){
  .home-img{
    width: 175px;
    height: 87px;
  }
}